.input-file {
    cursor: pointer;

    input {
        display: none;
    }

    span {
        display: block;
        margin-bottom: 20px;
        border-radius: $border-radius;
        background: $primary-color;
        padding: 5px 10px;
        text-decoration: none;

        .fa {
            padding: 0 5px;
        }

        &:hover {
            background: lighten($primary-color, 10%);
        }
    }
}
