.share {
    @include font-size(40);

    transition: all .5s;
    border: 0;
    background: transparent;
    color: $secondary-color;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $secondary-color-shade1;
    }
}
