.step {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    &__text {
        width: 40%;
        visibility: hidden;

        &.animated {
            visibility: visible;
        }

        p,
        li {
            @include font-size(16);
        }

        @media (max-width: $screen-sm) {
            width: 100%;
            visibility: inherit;
        }
    }

    &__img {
        width: 60%;
        visibility: hidden;

        &.animated {
            visibility: visible;
        }

        @media (max-width: $screen-sm) {
            width: 100%;
            visibility: inherit;
        }
    }

    &__underline {
        transform: skewX(0deg) skewY(0deg);
        transition: width 1000ms ease-in-out;
        background: $secondary-color;
        float: left;
        clear: left;
        position: static;
        z-index: -16;
        margin-top: -68px;
        height: 38px;
        width: 0;

        &--1 {
            margin-top: -107px;
            margin-left: 185px;
        }

        &--2 {
            margin-left: 296px;
        }

        &--3 {
            margin-left: 0;
        }

        &--4 {
            margin-left: 112px;
        }

        &--c1 {
            margin-left: 21px;
        }

        &--c2 {
            margin-left: 0;
        }

        &--c3 {
            margin-left: 0;
        }

        &--c4 {
            margin-left: 222px;
        }

        &--e1 {
            margin-top: -107px;
            margin-left: 21px;
        }

        &--e2 {
            margin-top: -145px;
            margin-left: 30px;
        }

        &--e3 {
            margin-top: -107px;
            margin-left: 30px;
        }

        &--e4 {
            margin-top: -145px;
            margin-left: 270px;
        }

        &--e5 {
            margin-top: -145px;
            margin-left: 30px;
        }

        &--e6 {
            margin-left: 0;
        }
    }

    .explain__title {
        margin-top: 0;
        position: relative;
        z-index: 10;
    }


    @media (max-width: $screen-sm) {
        display: block;
        align-items: inherit;
        justify-content: inherit;
    }

}